header {
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2E3A46;
}
body {
    background-color: #1E2D3B;
}
header img {
    height: 50px;
}

main {
    background-color: #1E2D3B;
}

.card img {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    margin-bottom: 2rem;
}

.img_container {
    height: 180px;
    margin: auto;
}

.card {
    background-color: #2E3A46;
    height: 100%;
    padding-bottom: 2rem;
}

.col-2 {
    margin-bottom: 2rem;
    max-width: none;
    
}

h4, h5 {
    color: white;
    font-weight: 700;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}